h1 {
	color: #a64dff;
	font-size: 25px;
	font-family: 'Signika', sans-serif;
  margin-top: 50px;
	text-align: center;
  font-weight: bold;
}

h2 {
	color: #a64dff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px; font-weight: 300;
	line-height: 32px;
	margin: 0 0 14px;
	text-align: center;
}

p {
    text-align: justify;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 10px;
}

body {
	background-color: #f2e6ff;
}

hr {
	border: 1px solid rgba(238, 204, 255, 0.5);
	margin-bottom: 50px;
}

.list-group-item {
	padding: 15px;
}

.ul-index {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li-index {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid rgba(238, 204, 255, 0.8);
}

.li-index:last-child {
  border: none;
}

.li-index a {
  text-decoration: none;
  color: #a64dff;
  display: block;
  text-align: center;
  padding: 10px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.li-index a:hover {
  text-decoration: none;
  font-size: 30px;
  color: #6600cc;
  background: rgba(239, 204, 255, 0.2);
}

.li-index a:focus {
	text-decoration:none;
	color: #6600cc;
	background: rgba(239, 204, 255, 0.2);
}

footer {
    margin: 50px 0;
    color: rgba(166, 77, 255, 0.3);
}

.panel {
    margin-top: 50px;
    box-shadow: 0 0 12px gray;
    padding:0 15px 0 15px;
}

.float-box {
	width: 100px;
	height: 100px;
	background-color: red;

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;

}

.btn-custom {
    color: #a64dff;
    background-color:rgba(0, 0, 0, 0);
    border-color: #a64dff;
    text-transform: uppercase;
    padding: 4px;
    margin: 12px 0 12px 0;
}

.progress-bar {
	background-color: #a64dff;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: #a64dff;
	border: 1px solid #a64dff;
}

.img-responsive {
	padding: 10px;
}

#result {
	color: #a64dff;
	font-family: 'Open Sans', sans-serif;
	font-size: 100px; font-weight: 300;
	line-height: 32px;
	padding: 10px;
	margin-top: 20px;
	text-align: center;
}

.review-box {
	padding: 2px;
	margin: 12px 0 24px 0;
	color: #a64dff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color:rgba(255,255,255, 0.5);
}
